
<div class="parallax-container" id="homedoor">
   <!-- Section 1 - Parrallax Home -->
   <div class="parallax"><%= image_tag "teardown.jpg" %></div>

   <!-- overlay  -->
    <div class="overlay">
      <h1 class="home-title">Need home repairs?</h1>
      <form class="home-form row">
       <div class="input-field col s10 m4 offset-m4 offset-s1 center-align">
         <a class="btn signup light-green" href="users/new">Request a Quote!</a>
       </div>
      </form>
      <div class="row plain-div">
        <div class="col s12 m8 offset-m2">
          <div class="col s4 m4">
            <div class="icon block">
              <h2 class="center"><i class="material-icons medium">schedule</i></h2>
              <h5 class="home-tag">24/7 Service</h5>
            </div>
          </div>

          <div class="col s4 m4">
            <div class="icon block">
              <h2 class="center"><i class="material-icons medium">build</i></h2>
              <h5 class="home-tag">Home Repairs</h5>
            </div>
          </div>

          <div class="col s4 m4">
            <div class="icon block">
              <h2 class="center"><i class="material-icons medium">people</i></h2>
              <h5 class="home-tag">Local Professionals</h5>
            </div>
          </div>
        </div>
      </div>


    </div>
</div>
    <!-- Section 2 - Getting Started Section -->
    <div class="container center-align" id="about">
      <i class="material-icons large center-align">settings</i>
      <h2>Getting Started</h2>
      <hr>
      <div class="row">
        <div class="col s12">
          <span class="center-align">
            Getting started on your home improvement or repair project is easy with Service Works.
              Our mission is to connect local service companies with individuals looking to get started
              on a home improvement or repair project.
          </span>
        </div>
      </div>

        <div class="row s12">
            <div class="col s12 m4">
              <div class="card">
                <div class="card-content">
                  <div class="card-image">
                    <div class="icon-wrapper">
                     <i class="material-icons large center-align">filter_1</i>
                    </div>
                    <%= image_tag("plumbing.jpg")%>
                  </div>
                  <div class="card-action white black-text">
                    <h3>Request a Quote</h3>
                    <p>Looking to start a new home project? Hire an expert to ensure your project is done right from start to finish.</p>
                  </div>
                </div>
              </div>
            </div>
    <!-- End of First Card -->

          <div class="col s12 m4">
            <div class="icon block">
              <div class="card">
                <div class="card-content ">
                  <div class="card-image">
                   <div class="icon-wrapper">
                     <i class="material-icons large center-align">filter_2</i>
                   </div>
                    <%= image_tag("flooring.jpg")%>
                  </div>
                  <div class="card-action white black-text">
                    <h3 class="center ">Receive Estimates</h3>
                    <p>Local companies will send you estimates based on your request. </p>
                  </div>
                 </div>
              </div>
            </div>
          </div> <!-- End of Second Card -->

          <div class="col s12 m4">
             <div class="icon block">
               <div class="card">
                 <div class="card-content ">
                   <div class="card-image">
                     <div class="icon-wrapper">
                       <i class="material-icons large center-align">filter_3</i>
                     </div>
                     <%= image_tag("electrician.jpg")%>
                   </div>
                   <div class="card-action white black-text">
                     <h3 class="center ">Choose an Expert</h3>
                     <p>Read reviews and chat with local companies to ensure your project turns out exactly the way you want.</p>
                   </div>
                  </div>
               </div>
             </div>
           </div> <!-- End of Third Card -->
        </div> <!-- 1-2-3 Cards ends here  -->
    </div>


  <!-- Section 3 - Parallax Home  -->
   <div class="parallax-container" id="section-two">
     <div class="parallax "><%= image_tag "grass.jpg" %></div>

     <!-- Main Paragraph -->
     <div class="row content overlay white-color" id="main-paragraph">
       <div class="col s12 z-depth-1 white-text">
         <p class="center-align">Simply request a quote for your project, include any relevant details and photos, then wait for a local company to respond with an estimate.</p>
       </div>
     </div>
   </div>

<!-- Section 4 - Information services section -->
<div class="container">
    <div class="row ">
      <div class="col s4 m4">
        <div class="icon block">
          <h2 class="center brown-text"><i class="material-icons">schedule</i></h2>
           <h5 class="home-tag">24/7 Service</h5>
        </div>
      </div>

      <div class="col s4 m4">
        <div class="icon block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
           <h5 class="home-tag">Home Repairs</h5>
        </div>
      </div>

      <div class="col s4 m4">
        <div class="icon block">
          <h2 class="center brown-text"><i class="material-icons">perm_identity</i></h2>
           <h5 class="home-tag">All Services</h5>
        </div>
      </div>
    </div>
</div>
