
<div class="parallax-container" id="homedoor">
  <div class="row">
    <div class="">
        <!-- <h1>Join us today!</h1> -->
    </div>
   </div>

   <!-- Section 1 - Parrallax Home -->
    <div class="parallax overlay"><%= image_tag "brokenhouse.png" %>  </div>

   <!-- overlay  -->
    <div class="overlay">
      <% %>
      <h1 class="home-title">Does your home need repairing?</h1>
      <form class="home-form row " action="index.html" method="post">
       <div class="input-field col s10 m4 offset-m4 offset-s1 white z-depth-2">
         <input id="zipcode" type="text" name="zipcode">
         <label for="zipcode">Zipcode</label>
       </div>
      </form>
      <% %>


    </div>
</div>

<!-- Section 2 - Homepage Card section-->
<div class="container">
    <div class="row ">
      <div class="col s12 m4">
        <div class="icon block">
            <h2 class="center brown-text"><i class="material-icons">location_on</i></h2>
            <div class="card 300px">
              <div class="card-image">
                <%= image_tag("http://placehold.it/200x100")%>
                <span class="card-title">Search for Service</span>
              </div>
              <div class="card-content">
                <p>Find service near you</p>
              </div>
              <div class="card-action">
              </div>
            </div>
        </div>
      </div>

        <div class="col s12 m4">
          <div class="icon block">
              <h2 class="center brown-text"><i class="material-icons">dashboard</i></h2>
              <div class="card 300px">
                <div class="card-image">
                  <%= image_tag("http://placehold.it/200x100")%>
                  <span class="card-title">Reviews</span>
                </div>
                <div class="card-content">
                  <p>Find local service providers sorted by review.</p>
                </div>
                <div class="card-action">
                </div>
              </div>
          </div>
        </div>
          <div class="col s12 m4">
            <div class="icon block">
            <h2 class="center brown-text"><i class="material-icons">search</i></h2>
              <div class="card 300px">
                <div class="card-image">
                  <%= image_tag("http://placehold.it/200x100")%>
                  <span class="card-title">View Services</span>
                </div>
                <div class="card-content">
                  <p>View all of our services.</p>
                </div>
                <div class="card-action">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




<!-- Section 4 - Information services section 
<div class="container">
  <section>

    <div class="row ">
      <div class="col s4 m4">
        <div class="icon block">
          <h2 class="center brown-text"><i class="material-icons">schedule</i></h2>
          <h5 class="home-tag">24/7 Service</h5>
        </div>
      </div>

      <div class="col s4 m4">
        <div class="icon block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="home-tag">Home Repairs</h5>
        </div>
      </div>

      <div class="col s4 m4">
        <div class="icon block">
          <h2 class="center brown-text"><i class="material-icons">perm_identity</i></h2>
          <h5 class="home-tag">All Services</h5>
        </div>
      </div>
    </div>

  </section>
</div>
-->

<!--
 Section 5 -  parallax container 
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag "dining.jpg" %></div>
  <div class="overlay"></div>
</div>

  <div class="container">
    <div class="row">
      <div class="col s8 offset-s1">
        <div id="map">

        </div>
      </div>
    </div>
  </div>
-->

