<%= form_for @quote, url: { controller: "quotes", action: "create" }, method: :post do %>
  <%# show validation errors %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this service_request from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-field">
    <%= label_tag :amount, "Quote" %>
    <%= text_field_tag "quote[amount]"%>
  </div>
  <div class="input-field">
    <%= label_tag :note, "Note" %>
    <%= text_area_tag "quote[note]", nil, id:"quote-notes", class:"materialize-textarea"%>
  </div>

  <%# Add service request ID to the params %>
  <%= hidden_field_tag("quote[service_request_id]", @service_request.id ) %>
  <%# Update the service request status to "Quoted" %>
  <%= hidden_field_tag("service_request[status]", "Quoted" ) %>
  <div class="input-field right-align">
    <button type="submit" class="btn green waves-effect waves-light">
      Submit<i class="material-icons right">send</i>
    </button>
  </div>


<% end %>
