<% provide(:title, "Log in") %>
<div class="container">
  <h1 class="center-align">Welcome Back!</h1>

  <div class="row">

      <%= form_for(:session, url: login_path) do |f| %>
        <div class = "col m8 s12 offset-m2 z-depth-2 form">
          <div class="col s4 offset-s4 center-align">
             <i class="material-icons large">face</i>
          </div>
          <div class="input-field col s10 offset-s1">
            <%= f.label :email %>
            <%= f.email_field :email, class:'form-control' %>
          </div>
          <div class="input-field col s10 offset-s1">
            <%= f.label :password %>
            <%= f.password_field :password, class:'form-control' %>
          </div>
          <div class="input-field col m12 s10 offset-s1 valign-wrapper">
            <div class="left-align col s7 valign">
              <%= link_to 'Not a Memeber? Sign up today!', new_user_path, class: "" %>
            </div>
            <div class="col s5 valign">
              <%= f.submit 'Log in', class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
