<%= form_for [@user, @user.service_requests.build] do |f| %>
  <% if @service_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_request.errors.count, "error") %> prohibited this service_request from being saved:</h2>

      <ul>
      <% @service_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row ">
    <div class="col s10 offset-s1 z-depth-1 form" id="service-request">
      <div class="col s12 center-align">
        <!-- <h2>New Service Request</h2> -->
        <!-- <p>Need a hand? Please fill out this short form to get started on your service quote.</p> -->
      </div>

      <div class="input-field col s6 offset-s3">
        <%# drop down select is populated from the services table %>
        <%= f.label :services %><br>
        <%= f.collection_select :services, @services, :id, :name %>
      </div>

      <div class="input-field file-field col s6 offset-s3">
        <div class="btn right-align green">
          <span> Upload Photo </span>
          <%# Use can upload multiple photos. 5 photos max will be displayed. %>
          <%= f.file_field :image, multiple: true %>
        </div>
        <div class="file-path-wrapper">
         <input class="file-path validate" type="text">
       </div>

      </div>


      <div class="input-field col s6 offset-s3">
        <%= f.label :additional_notes %><br>
        <%= f.text_area :additional_notes, class:"materialize-textarea"%>
      </div>
  <br>

      <div class="col s12 center-align">
        <%= f.submit "Create" , class: "btn btn-primary" %>
      </div>
    </div>

    <% end %>
</div>
