<p id="notice"><%= notice %></p>

<p><%= @service_request.created_at.to_formatted_s(:long) %></p>
<p>Status: <%= @service_request.status %></p>
<p>Services:</p>
<ul>
  <% @service_request.services.each do |s| %>
  <li><%= s.name %></li>
</ul>
  <% end %>
<p>Notes:</p>
<p><%= @service_request.additional_notes %></p>
<%= image_tag @service_request.image[0].url(:show) if @service_request.image[0] %>
<%= image_tag @service_request.image[1].url(:show) if @service_request.image[1] %>
<%= image_tag @service_request.image[2].url(:show) if @service_request.image[2] %>
<%= image_tag @service_request.image[2].url(:show) if @service_request.image[3] %>
<%= image_tag @service_request.image[2].url(:show) if @service_request.image[4] %>


<% if @accepted_quote %>
  <div class="accepted-quote">
    <%= @accepted_quote.user.company_name %>'s Quote:<br>
    <%= @accepted_quote.user.company_name %> has offered a quote of <%= number_to_currency(@accepted_quote.amount) %><br>
    <%= @accepted_quote.user.company_name %> says, "<%= @accepted_quote.note %>"<br>
    Quote Status: <%= @accepted_quote.status %>
  </div>
<% else %>
  <% @service_request.quotes.each do |q| %>
    <div class="quote">
      <%= q.user.company_name %>'s Quote:<br>
      <%= q.user.company_name %> has offered a quote of <%= number_to_currency(q.amount) %><br>
      <% if q.note %>
        <%= q.user.company_name %> says, "<%= q.note %>"<br>
      <% end %>
      Company Rating: <%= link_to company_review(q.user_id), "#review-modal", class: "review-modal-trigger" %><br>

      <div id="review-modal" class="modal">
        <div class="modal-content">
          <h4><%= q.user.company_name%>'s Review</h4>

          <table>
            <tr>
              <th>
                Reviewer
              </th>
              <th>
                Comment
              </th>
            </tr>
            <% Review.where(company_id: q.user_id).each do |r| %>
            <tr>
              <th>
                <%= User.find(r.user_id).first_name %>
              </th>
              <th>
                <%= r.comment %>
              </th>
            </tr>
            <% end %>
          </table>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>

      <% if @service_request.user_id == current_user.id && !current_user.is_provider %>
        <%= link_to "Accept", accept_quote_path(quote_id: { quote_id: q.id },
                                                quote: { status: "Accepted" },
                                                service_request: {status: "Accepted"} ),
                                                data: { confirm: "Are you sure you want to accept #{q.user.company_name}'s quote for #{number_to_currency(q.amount)}."} %>
      <% end %>
      <%= link_to "Delete", service_request_quote_path(q, service_request: {status: "Open"}),
          method: :delete if current_user.id == q.user_id %>
    </div>
    <hr>
  <% end %>
<% end %>


<%# only show the quote form to Service Providers on service request that are NOT 'Accepted' or 'Completed' %>
<% if current_user.is_provider && @service_request.status != "Accepted" && @service_request.status != "Completed" %>
<%# the quote form is rendered from a partial %>
  <%= render "quotes/quote" %>
<% end %>

<%# only show the review form to the user's service requests, when the service request status is 'Completed
and the service request does NOT have any reviews.%>
<% if @service_request.status == "Completed" &&  @service_request.review.nil? && @service_request.user_id == current_user.id%>
  <p>Please leave a review</p>
  <%= render "reviews/review" %>
<% end %>

<%# Display the completed review when the service request is in status "Completed" AND a review exists %>
<% if @service_request.status == "Completed" && @service_request.review %>
  <p>
    Review:
  </p>
  Rating: <%= @service_request.review.rating %><br>
  <%= @service_request.review.comment %>
<% end %>

<%= button_to "Set to In Progress" %>

<br>
<%= link_to 'Back', user_service_requests_path(current_user) %>
