<p id="notice"><%= notice %></p>


<div class="container">
  <!-- quote details row -->
  <div class="row z-depth-2">
    <h5 class="big-title cyan darken-4 white-text center-align"> Quote</h5>
    <div class="col s12 ">
      <div class="col m6 s12" id="quote">
        <!-- table -->
        <div class="col s12">
          <!-- quote details -->
            <table class="striped bordered">
              <thead>
                <th colspan="2" class="center-align table-title">Details</th>
              </thead>
            <tbody>
              <tr>
                <td> Date: </td>
                <td><%= @service_request.created_at.strftime("%m/%d/%y") %></td>
              </tr>
              <tr class="">
                <td>Status:</td>
                <td><%= @service_request.status %></td>
              </tr>
              <tr>
                <td>Services:</td>
                <td>
                  <% @service_request.services.each do |s| %>
                  <%= s.name %>
                  <% end %>
                </td>
              </tr>
              <tr class="">
                <td >Notes:</td>
                <td><%= @service_request.additional_notes %></td>
              </tr>
            </tbody>
            </table>
        </div>
        <!-- slider wrapper -->
        <div class="slider col s12">
          <!-- slider -->
          <ul class="slides">
              <%# Show up to 5 uploaded images %>
              <li>
              <%= image_tag @service_request.image[0].url(:show) if @service_request.image[0] %>
              </li>
              <li>
              <%= image_tag @service_request.image[1].url(:show) if @service_request.image[1] %>
              </li>
              <li>
              <%= image_tag @service_request.image[2].url(:show) if @service_request.image[2] %>
              </li>
              <li>
              <%= image_tag @service_request.image[3].url(:show) if @service_request.image[3] %>
              </li>
              <li>
              <%= image_tag @service_request.image[4].url(:show) if @service_request.image[4] %>
              </li>
          </ul>
        </div>
          <div class="left-align">
            <%= link_to user_service_requests_path(current_user) do%>
              <i class="material-icons">arrow_back</i>
            <%end%>
          </div>
      </div>
      <div class="col m6 s12" id="new-quote">
        <h5 class="center-align">Submit a Quote</h5>
        <!-- Slider of Customer images -->
        <%# only show the quote form to Service Providers on service request that are 'Open' or 'Quoted' %>
        <% if current_user.is_provider && (@service_request.status == "Open" || @service_request.status == "Quoted") %>
        <%# the quote form is rendered from a partial %>
            <%= render "quotes/quote" %>
        <% end %>
      </div>
    </div>

      <%# only show the review form to the user's service requests, when the service request status is 'Completed
      and the service request does NOT have any reviews.%>
      <% if @service_request.status == "Completed" &&  @service_request.review.nil? && @service_request.user_id == current_user.id%>
        <p>Please leave a review</p>
        <%= render "reviews/review" %>
      <% end %>

      <%# Display the completed review when the service request is in status "Completed" AND a review exists %>
      <% if @service_request.status == "Completed" && @service_request.review %>
        <p>
          Review:
        </p>
        Rating: <%= @service_request.review.rating %><br>
        <%= @service_request.review.comment %>
      <% end %>

      <%# Let providers mark the service request as 'In Progress' or 'Completed' %>
      <% if @service_request.status == "Accepted" && current_user.is_provider %>
        <%= button_to "Set to In Progress", set_status_user_service_request_path(@service_request.user_id, @service_request),
        { method: :put, params: { type: "In Progress" } } %>
      <% elsif @service_request.status == "In Progress" && current_user.is_provider %>
        <%= button_to "Set to Completed", set_status_user_service_request_path(@service_request.user_id, @service_request),
        { method: :put, params: { type: "Completed" } }%>
      <% end %>

      <br>

      <% if @service_request.status == "Completed" %>
      <%= render "charges/charge" %>
        <% end %>
      <%= link_to 'Back', user_service_requests_path(current_user) %>


    </div>
  <!-- Company quotes -->
  <!-- check for quotes or accpeted quotes -->
  <% if @accepted_quote || @service_request.quotes.length > 0%>
  <div class="row z-depth-2">
    <!-- quotes heading -->
    <h5 class="center-align  cyan darken-4 white-text big-title">Other Servicers Quoted</h5>
    <div class="col s12 ">
      <!-- show quotes -->
      <ul class="collection">
       <% if @accepted_quote %>
       <li class="collection-item avatar">
          <%= image_tag @accepted_quote.user.business_logo_url(:thumb), class: "circle" %>
          <!-- <img src="https://placehold.it/200x200" alt="placehold it" class="circle"> -->
          <%= @accepted_quote.user.company_name %>'s Quote:<br>
          <%= @accepted_quote.user.company_name %> has offered a quote of <%= number_to_currency(@accepted_quote.amount) %><br>
          <%= @accepted_quote.user.company_name %> says, "<%= @accepted_quote.note %>"<br>
          Quote Status: <%= @accepted_quote.status %>
       </li>
         <%else%>
           <% @service_request.quotes.each do |q| %>
           <li class="collection-item avatar">
              <%= image_tag q.user.business_logo_url(:thumb), class: "circle" %>
             <span class="title"><%= q.user.company_name %></span>
             <p>
               Quoted: <%= number_to_currency(q.amount) %><br>
               <% if q.note %>
                 <%= q.user.company_name %> says, "<%= q.note %>"<br>
               <% end %>
               <a href="#review-modal" class="secondary-content review-modal-trigger"><i class="material-icons yellow-text small">grade</i></a>
               <%# Company rating value opens a company review modal %>
               Company Rating: <%= link_to company_review(q.user_id), "#review-modal#{q.user_id}", class: "review-modal-trigger" %><br>
             </p>
                <!-- links for providers and user either accept or delete -->
                <% if @service_request.user_id == current_user.id && !current_user.is_provider %>
                <%= link_to "Accept", accept_quote_path(quote_id: { quote_id: q.id },
                                                          quote: { status: "Accepted" },
                                                          service_request: {status: "Accepted"} ),
                                                          data: { confirm: "Are you sure you want to accept #{q.user.company_name}'s quote for #{number_to_currency(q.amount)}."}%>
                <% end %>
                <%# Company can delete their own quotes only %>
                <%= link_to "Delete",service_request_quote_path(q, service_request: {status: "Open"}),
                    method: :delete if current_user.id == q.user_id%>

               <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
            <!-- review modal -->
            <div id="review-modal<%= q.user_id %>" class="modal">
              <div class="modal-content">
                <h4><%= q.user.company_name%>'s Reviews</h4>
                <%= image_tag q.user.business_logo_url(:small) %>
                <%= q.user.company_desc %>
                <table>
                  <tr>
                    <th>Reviewer</th>
                    <th>Rating</th>
                    <th>Comment</th>
                  </tr>
                  <% Review.where(company_id: q.user_id).each do |r| %>
                  <tr>
                    <td><%= User.find(r.user_id).first_name %></td>
                    <td><%= r.rating %></td>
                    <td><%= r.comment %></td>
                  </tr>
                  <% end %>
                </table>
              </div>
              <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
              </div>
            </div>
           </li>
          <%end%>
        <%end%>
      </ul>

    </div>
  </div>
  <%else%>
    <!-- do something here if no quotes -->
  <%end%>

</div> <!-- end container -->
