<% provide(:title, 'Sign up') %>
<h1 class="profile-title">Sign up</h1>
<div class="row">
  <div class="col s6 offset-s3">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

    <div class="input-field col s6 ">
      <p>
        <%= f.check_box :is_provider, id:"company" %>
        <%= f.label "Are you a company?", for:"company" %>
      </p>

      <!-- if servicer display company fields  -->
      <% if @user.is_provider %>
      <div class="input-field col s6 ">
        <%= f.label "Company Name" %>
        <%= f.text_field :company_name %>
      </div>

      <div class="input-field">
        <%= f.label :business_logo, "Upload your logo" %><br>
        <%= f.file_field :business_logo %>
      </div>    
        
      <div class="input-field col s6 ">
        <%= f.label "Company Description" %>
        <%= f.text_field :company_desc %>
      </div>
      <%end%>
    </div>

    <div class="input-field col s6 ">
      <%= f.label "First Name" %>
      <%= f.text_field :first_name %>
    </div>

    <div class="input-field col s6 ">
      <%= f.label "Last Name" %>
      <%= f.text_field :last_name %>
    </div>

    <div class="input-field col s6 ">
    <%= f.label "Email" %>
    <%= f.email_field :email %>

    <div class="input-field col s6 ">
      <%= f.label "Phone" %>
      <%= f.text_field :phone %>
    </div>

    <div class="input-field col s6 ">
      <%= f.label "Address" %>
      <%= f.text_field :street_one %>
    </div>

    <div class="input-field col s6 ">
      <%= f.label "Address \(cont\) " %>
      <%= f.text_field :street_two %>
    </div>

    <div class="input-field col s6 ">
      <%= f.label "State" %>
      <%= f.text_field :state %>
    </div>

    <div class="input-field col s6 ">
      <%= f.label "Zip" %>
      <%= f.text_field :zip %>
    </div>

    <div class="input-field col s6 ">
      <%= f.label "Password" %>
      <%= f.password_field :password %>
    </div>

    <div class="input-field col s6 ">
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation%>
    </div>

    <div class="col s6">
      <%= f.submit "Hammer Time" , class: "btn btn-primary" %>
    </div>
    <div class="col s6">
      <%= link_to 'Already have an account?', login_path %>
    </div>
    <% end %>
  </div>
</div>
