<% provide(:title, 'Sign up') %>
<div class="container">
<div class="row z-depth-2">
<h3 class="profile-title big-title cyan darken-4 white-text">Sign up</h3>
  <div class="col m10 s12 offset-m1 white signup-form">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
    <!-- switch and profile -->
    <div class="valign-wrapper">
      <div class="col m6 s12 valign">
          <div class="switch">
            <label>
            Customer
              <%= f.check_box :is_provider, id:"company" %>
              <span class="lever"></span>
            Company
            </label>
          </div>
      </div>
      <div class="file-field input-field col m6 s12 valign" id="image-upload">
        <!-- <%= f.label :business_logo, "Upload your logo" %><br> -->
        <div class="btn">
          <span>Upload</span>
          <%= f.file_field :business_logo %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Profile Picture">
        </div>
      </div>
    </div>


    <div id="company-info">
      <!-- if servicer display company fields  -->
      <div class="input-field col s6" id="company-name">
        <%= f.label "Company Name" %>
        <%= f.text_field :company_name %>
      </div>

      <div class="input-field col s6" id="company-description">
        <%= f.label "Company Description" %>
        <%= f.text_field :company_desc %>
      </div>
    </div>

    <div class="input-field col s6 ">
      <%= f.label "First Name" %>
      <%= f.text_field :first_name %>
    </div>

    <div class="input-field col s6">
      <%= f.label "Last Name" %>
      <%= f.text_field :last_name %>
    </div>

    <div class="input-field col m6 s12">
      <%= f.label "Email" %>
      <%= f.email_field :email %>
    </div>

    <div class="input-field col m6 s12">
      <%= f.label "Phone" %>
      <%= f.text_field :phone %>
    </div>

    <div class="input-field col m6 s12">
      <%= f.label "Address" %>
      <%= f.text_field :street_one %>
    </div>

    <div class="input-field col m6 s12 ">
      <%= f.label "Address \(cont\) " %>
      <%= f.text_field :street_two %>
    </div>

    <div class="input-field col s12">
      <%= f.label "City" %>
      <%= f.text_field :city %>
    </div>

    <div class="input-field col s6">
      <%= f.label "State" %>
      <%= f.text_field :state %>
    </div>

    <div class="input-field col s6">
      <%= f.label "Zip" %>
      <%= f.text_field :zip %>
    </div>

    <div class="input-field col m6 s12">
      <%= f.label "Password" %>
      <%= f.password_field :password %>
    </div>

    <div class="input-field col m6 s12">
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation%>
    </div>

    <div class="valign-wrapper col m6 s12 offset-m6">
      <div class="col s6 valign">
        <%= link_to 'Already have an account?', login_path %>
      </div>
      <div class="col s6 valign right-align">
        <%= f.submit "Submit" , class: "btn btn-primary waves-effect waves-light indigo darken-4" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>
