<% provide(:title, 'Sign up') %>
<div class="container">
<div class="row z-depth-2">
<h3 class="profile-title big-title cyan darken-4 white-text">Sign up</h3>
  <div class="col m10 s12 offset-m1 white signup-form">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
    <!-- switch and profile -->
    <div class="valign-wrapper">
      <div class="col m6 s12 valign">
          <div class="switch">
            <label>
            Customer
              <%= f.check_box :is_provider, id:"company" %>
              <span class="lever"></span>
            Company
            </label>
          </div>
      </div>
      <div class="file-field input-field col m6 s12 valign" id="image-upload">
        <!-- <%= f.label :business_logo, "Upload your logo" %><br> -->
        <div class="btn">
          <span>Upload Avatar</span>
        </div>
        <div class="file-path-wrapper">
          <%= f.file_field :avatar, class: "file-path validate",
          placeholder: "Avatar", id: "user_avatar" %>
        </div>
      </div>
    </div>


    <div id="company-info">
      <!-- if servicer display company fields  -->
      <div class="input-field col s6" id="company-name">
        <%= f.text_field :company_name, id:"company_name" %>
        <%= f.label "Company Name", for: "company_name" %>
      </div>

      <div class="input-field col s6" id="company-description">
        <%= f.text_field :company_desc, id:"company_desc" %>
        <%= f.label "Company Description", for: "company_desc" %>
      </div>
    </div>

    <div class="input-field col s6 ">
      <%= f.text_field :first_name, id:"first_name" %>
      <%= f.label "First Name", for: "first_name" %>
    </div>

    <div class="input-field col s6">
      <%= f.text_field :last_name, id:"last_name"  %>
      <%= f.label "Last Name", for: "last_name" %>
    </div>

    <div class="input-field col m6 s12">
      <%= f.email_field :email, id:"email" %>
      <%= f.label "Email", for:"email" %>
    </div>

    <div class="input-field col m6 s12">
      <%= f.text_field :phone, id:"phone" %>
      <%= f.label "Phone", for:"phone" %>
    </div>

    <div class="input-field col m6 s12">
      <%= f.text_field :street_one, id:"street_one" %>
      <%= f.label "Address", for:"street_one" %>
    </div>

    <div class="input-field col m6 s12 ">
      <%= f.text_field :street_two, id:"street_two" %>
      <%= f.label "Address \(cont\) ", for:"street_two" %>
    </div>

    <div class="input-field col s12">
      <%= f.text_field :city, id:"city" %>
      <%= f.label "City", for:"city" %>
    </div>

    <div class="input-field col s6">
      <%= f.text_field :state, id:"state" %>
      <%= f.label "State", for:"state" %>
    </div>

    <div class="input-field col s6">
      <%= f.text_field :zip, id:"zip" %>
      <%= f.label "Zip", for:"zip" %>
    </div>

    <div class="input-field col m6 s12">
      <%= f.password_field :password, id:"password" %>
      <%= f.label "Password (min. 6 characters)", for:"password" %>
    </div>

    <div class="input-field col m6 s12">
      <%= f.password_field :password_confirmation, id:"password_confirmation"%>
      <%= f.label :password_confirmation, "Confirmation", for:"password_confirmation" %>
    </div>

    <div class="valign-wrapper col m6 s12 offset-m6">
      <div class="col s6 valign">
        <%= link_to 'Already have an account?', login_path %>
      </div>
      <div class="col s6 valign right-align">
        <%= f.submit "Submit" , class: "btn btn-primary waves-effect waves-light indigo darken-4" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>
