<% provide(:title, 'Sign up') %>

<div class="container">
  <div class="row z-depth-1">
    <h3 class="profile-title big-title cyan darken-4 white-text"><i class="material-icons">settings</i> Account Settings </h3>
    <!-- main div container for form-->
    <div class="col s12 user-form">
      <div class="col s12">
        <h3 class="center-align ">Personal Info</h3>
        <%= form_for @user do |f| %>
          <%= render 'shared/error_messages' %>
          <div class="input-field col m6 s12">
            <%= f.label "First Name" %>
            <%= f.text_field :first_name %>
          </div>

          <div class="input-field col m6 s12">
            <%= f.label "Last Name" %>
            <%= f.text_field :last_name %>
          </div>

          <% if @user.is_provider %>
            <div class="input-field col m6 s12">
              <%= f.label "Company Name" %>
              <%= f.text_field :company_name %>
            </div>

            <div class="input-field col m6 s12">
              <%= f.label "Company Description" %>
              <%= f.text_field :company_desc %>
            </div>
          <% end %>

        <!-- Address and contact -->
        <h3 class="center-align">Address &amp; Contact</h3>

          <div class="input-field col m6 s12">
            <%= f.label "Email" %>
            <%= f.email_field :email %>
          </div>

          <div class="input-field col m6 s12">
            <%= f.label "Phone" %>
            <%= f.text_field :phone %>
          </div>

          <div class="input-field col m6 s12">
            <%= f.label "Address" %>
            <%= f.text_field :street_one %>
          </div>

          <div class="input-field col m6 s12">
            <%= f.label "Address cont." %>
            <%= f.text_field :street_two %>
          </div>

          <div class="input-field col m6 s12">
            <%= f.label "State" %>
            <%= f.text_field :state %>
          </div>

          <div class="input-field col m6 s12">
            <%= f.label "Zip" %>
            <%= f.text_field :zip %>
          </div>

        <!-- Security settings -->
        <h3 class="center-align ">Security</h3>

          <div class="input-field col m6 s12">
            <%= f.label "Password" %>
            <%= f.password_field :password %>
          </div>

          <div class="input-field col m6 s12">
            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation%>
          </div>

          <div class="valign right-align">
            <%= f.submit "Update", class: "btn btn-primary waves-effect waves-light indigo darken-4" %>
          </div>
    </div>
  </div>
</div>
<% end %>
