
<%= form_for @review, url: { controller: "reviews", action: "create" }, method: :post do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> Could not save review:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= label_tag :rating, "Rating" %>
  <%= f.select(:rating) do %>
    <% [[1,1], [2,2], [3,3], [4,4], [5,5]].each do |o| %>
      <%= content_tag(:option, o.first, value: o.last) %>
    <% end %>
  <% end %>

  <%= label_tag :comment, "Leave a comment" %>
  <%= f.text_area :comment %><br>
  <%= f.submit %>

<% end %>
