<!DOCTYPE html>
<html>
<head>
  <title>ServiceWorks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Raleway:700,400' rel='stylesheet' type='text/css'>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<%= render 'layouts/header' %>

<% if flash.count > 0 %>

  <div class="container">
    <div class="row">
      <div class="col s12">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>">
            <%= message %>
          </div>
          <% end %>
      </div>
    </div>
  </div>

<% end %>
<%= yield %>


<%= render 'layouts/footer' %>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCT2eNqRyxDqj4foi8wO31yi40-AC6C820&callback=initMap">
</script>
</body>
</html>
